
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/gui_generated/src/mainscreen_screen/mainScreenViewBase.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/gui_generated/src/common/FrontendApplicationBase.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/gui_generated/src/common/FrontendApplicationBase.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/fonts/src/Table_verdana_20_4bpp.su
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/fonts/src/Table_verdana_20_4bpp.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/fonts/src/Table_consola_50_4bpp.su
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/fonts/src/Table_consola_50_4bpp.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/fonts/src/Font_verdana_20_4bpp_0.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/STM32F7508-DK/TouchGFX/generated/fonts/src/Font_consola_50_4bpp_0.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/touchgfx/framework/source/platform/hal/simulator/sdl2/OSWrappers.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/touchgfx/framework/source/platform/hal/simulator/sdl2/OSWrappers.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/touchgfx/framework/source/platform/hal/simulator/sdl2/HALSDL2_icon.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/touchgfx/framework/source/platform/hal/simulator/sdl2/HALSDL2_icon.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/touchgfx/framework/source/platform/hal/simulator/sdl2/HALSDL2.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/touchgfx/framework/source/platform/hal/simulator/sdl2/HALSDL2.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/touchgfx/framework/source/platform/driver/touch/SDL2TouchController.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/touchgfx/framework/source/platform/driver/touch/SDL2TouchController.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/simulator/main.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/simulator/main.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/gui/src/mainscreen_screen/mainScreenView.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/gui/src/mainscreen_screen/mainScreenView.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/gui/src/mainscreen_screen/mainScreenPresenter.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/gui/src/mainscreen_screen/mainScreenPresenter.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/texts/src/TypedTextDatabase.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/texts/src/TypedTextDatabase.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/texts/src/Texts.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/texts/src/Texts.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/texts/src/LanguageGb.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/texts/src/LanguageGb.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/simulator/src/mainBase.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/simulator/src/mainBase.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/images/src/BitmapDatabase.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/images/src/BitmapDatabase.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/images/src/__designer/image_Blue_Buttons_Round_Edge_small_pressed.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/images/src/__designer/image_Blue_Buttons_Round_Edge_small_pressed.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/images/src/__designer/image_Blue_Buttons_Round_Edge_small.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/images/src/__designer/image_Blue_Buttons_Round_Edge_small.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/gui_generated/src/mainscreen_screen/mainScreenViewBase.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/gui_generated/src/mainscreen_screen/mainScreenViewBase.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/gui_generated/src/common/FrontendApplicationBase.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/gui_generated/src/common/FrontendApplicationBase.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/Table_verdana_20_4bpp.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/Table_verdana_20_4bpp.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/Table_consola_50_4bpp.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/Table_consola_50_4bpp.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/Font_verdana_10_4bpp_0.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/Font_verdana_10_4bpp_0.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/Font_consola_50_4bpp_0.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/Font_consola_50_4bpp_0.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/CachedFont.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/CachedFont.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/ApplicationFontProvider.o
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/MINGW32_NT-6.2/generated/fonts/src/ApplicationFontProvider.d
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/bin/target.hex
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/bin/target.elf
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/bin/simulator.exe
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/bin/intflash.hex
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/bin/intflash.elf
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/build/bin/application.map
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/assets/texts/texts.xml
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/assets/images/__designer/Blue_Buttons_Round_Edge_small_pressed.png
STM32F7508-DK/MyFirstTouchGFXApp/TouchGFX/assets/images/__designer/Blue_Buttons_Round_Edge_small.png
STM32F7508-DK/MyFirstTouchGFXApp/STM32CubeIDE/.project
